<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://esjtdm106.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>esjtdm106.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>esjtdm106</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$esjtdm106</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:esjexemplo2dbserver.database.windows.net,1433;Initial Catalog=esjtdm106_db;User ID=edsonsjr@esjexemplo2dbserver;Password=Meme4593!" Name="Data Source=tcp:esjexemplo2dbserver.database.windows.net,1433;Initial Catalog=esjtdm106_db;User Id=edsonsjr@esjexemplo2dbserver;Password=Meme4593!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TrabalhoDM106.Models.ApplicationDbContext, TrabalhoDM106" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TrabalhoDM106Context" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:esjexemplo2dbserver.database.windows.net,1433;Initial Catalog=esjtdm106_db;User ID=edsonsjr@esjexemplo2dbserver;Password=Meme4593!" Name="Data Source=tcp:esjexemplo2dbserver.database.windows.net,1433;Initial Catalog=esjtdm106_db;User Id=edsonsjr@esjexemplo2dbserver;Password=Meme4593!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TrabalhoDM106.Models.TrabalhoDM106Context, TrabalhoDM106" MigrationConfiguration="TrabalhoDM106.Migrations.Configuration, TrabalhoDM106" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="TrabalhoDM106Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:esjexemplo2dbserver.database.windows.net,1433;Initial Catalog=esjtdm106_db;User Id=edsonsjr@esjexemplo2dbserver;Password=Meme4593!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:esjexemplo2dbserver.database.windows.net,1433;Initial Catalog=esjtdm106_db;User Id=edsonsjr@esjexemplo2dbserver;Password=Meme4593!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>